*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.search-wrapper{
  display: flex;
  align-self: center;
  margin-top: 20px;
}

.info-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.film-info{
  width: 25%;
  min-height: 100px;
  margin: 5px 0;
  padding: 0 4px;
}

.film-info img{
  width: 25px;
  position: relative;
  top: 2px;
}

.wrapper .fa-search{
  font-size: 25px;
}

.fas.fa-star{
  color: #f8b500;
}

.far.fa-star{
  color: #cecece;
}

#magnifier{
  padding: 5px;
}

#search-input{
  padding: 5px;
}
